@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Rokkitt:300|Sanchez');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/solid.css');
@import url('https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; padding: 0; border: 0;
	font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* ### */

@keyframes spin {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}

/* ### */

* { outline: 0 !important; }
html, body { min-height: 100%; }
html { position: relative; }
body { font-family: "Open Sans", sans-serif; font-size: 16px; background: #E7EEEF; }

h1, h2, h3, h4, h5, h6 { font-family: "Sanchez", serif; }
h1, h2, h3 { padding-bottom: 10px; }
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 26px; }
h4 { font-size: 22px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }

h1 span { font-family: "Rokkitt", serif; font-weight: 300; }

a { text-decoration: none; color: #80CED7; }
a:visited { color: inherit; }

div { box-sizing: border-box; }

/* ### */

input, button { box-sizing: border-box; margin: 0; padding: 5px 10px; font-size: 16px; }
button.mini { font-size: 14px; padding: 2px 10px; }
input[type="text"], input[type="number"] { height: 36px; margin: 0; border: 1px solid rgba(0, 0, 0, 0.1); background: #eff9fb; color: #465866; font-family: "Open Sans", sans-serif; }
input[type="submit"], button { background: #465866; color: #fff; font-family: "Sanchez", serif; border: none; }
input[type="submit"]:hover, button:hover { background: #5d7584; transition: background 0.3s ease; cursor: pointer; }
.danger { background: rgba(255, 0, 0, 0.7); color: #fff; }

input[type="datetime-local"] { height: 22px; background: #fff; padding: 0px 8px; font-size: 14px; color: #666; border: 1px solid #a8a7a8; }

input:focus, button:focus { box-shadow: 0 0 5px rgba(0, 0, 0, 0.1) inset; }
button.disabled { pointer-events: none; cursor: progress; background: #89afc3; }
button.disabled:hover { background: #89afc3; }

app-sidebar { position: absolute; height: 100%; }
#sidebar { width: 200px; height: 100%; float: left; padding-top: 20px; background: #465866; font-size: 18px; font-weight: 300; }
	#sidebar li a { display: block; padding: 15px 10px; color: #fff; transition: background 0.3s ease; }
	#sidebar li a:hover, #sidebar li.active a { background: #5d7584; }

#content { padding: 25px 20px; padding-left: 220px; height: 100%; }

#header { margin-bottom: 20px; border-bottom: 1px solid rgba(0,0, 0, 0.1); overflow: hidden; }
	#header h1 { float: left; }
	#header a.cog { display: block; float: right; width: 20px; height: 20px; margin-top: 10px;
		font-size: 20px; color: #465866; cursor: pointer; }
	#header a.cog:hover { animation: spin 2s infinite linear; }
	#header button.act { float: right; padding: 5px 25px; margin-top: 10px; }

.control { clear: both; padding: 10px 0; border-top: 1px solid rgba(0,0, 0, 0.1); overflow: hidden; }
	.control div.inline { float: left; margin-right: 10px; }
	.control div.inline.right { float: right; }
	.control.range div.inline { margin-right: 50px; }
	.control div.inline:last-child { margin-right: 0; }
		.control.range div.inline label { margin-right: 5px; }
		.control div.inline input { margin-right: 10px; }
	.control > div { overflow: hidden; margin-bottom: 10px; }
	.control > div:last-child, .control.range > div { margin-bottom: 0; }

	#auto_number { width: 60px; margin: 0 20px; }
	#auto_mins, #power { width: 100px; margin: 0 10px; }

	.control.settings { max-height: 0; padding: 0; border-width: 0; transition: max-height 0.5s ease, padding 0.5s ease, border-width 0.5s ease; }
	.control.settings.shown { max-height: 100px; padding: 10px 0; border-width: 1px; }

.setting { margin-bottom: 20px; overflow: hidden; }
	.setting label { line-height: 36px; font-weight: 300; }
	.setting input { float: right; width: 200px; }
	.setting.check input { float: none; margin: 0 10px; width: auto; }
	.setting.check input[type="number"] { width: 60px; }

.chart { display: block; overflow: hidden; }
	.chart h2, .chart h3 { float: left; font-family: "Rokkitt", serif; font-weight: 300; }
	.chart span { float: right; padding: 5px 20px 0 0; }

.stats { font-weight: 300; font-size: 18px; line-height: 1.4; }
	.stats p { padding-bottom: 15px; }
	.stats ul { padding-left: 10px; }
		.stats ul li { padding-bottom: 5px; }

.row { margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); overflow: hidden; }
.row:last-child { border-bottom: none; margin-bottom: 0; }
	.row .col { width: 50%; float: left; }
	.row.settings .col { width: 45%; margin-right: 5%; }
	.row.stats .col { width: 30%; margin-right: 3%; }

.situation.active { background: rgba(255, 0, 0, 0.7); padding: 10px; border-bottom: none; color: #fff; }
	.situation div:first-child { margin-bottom: 10px; }
		.situation-unit, .situation-resolved { float: right; }

.error { position: fixed; left: 0; top: 0; right: 0; bottom: 0; width: 100%; height: 100%; z-index: 200; background: rgba(0, 0, 0, 0.7); }
	.error p { color: #fff; padding: 20px; background: #465866; position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); }