<div id="header">
	<h1>Problems</h1>
</div>

<div class="row situation" *ngFor="let prob of problems" [ngClass]="{ 'active': prob.resolved === null }">
	<div>
		<span class="situation-type">{{ [ "Rig failure", "Unit failure" ][prob.type] }}</span>
		<span class="situation-unit">{{ prob.rig_name }}
			<span *ngIf="prob.unit_index !== null">Unit {{ prob.unit_index }}</span></span>
	</div>

	<div>
		<span class="situation-date">{{ moment(prob.time).format("LLL") }}</span>
		<span class="situation-resolved">{{ prob.resolved === null ? "Active" : "Resolved " + moment(prob.resolved).format("LLL") }}</span>
	</div>
</div>